@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
	display: flex;
  	align-items: center;
  	justify-content: center;
   	height: 90vh;

}
.card{
	
	width: 350px;
	height: 559px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	overflow: hidden;
}
.img{
	object-fit: cover;
    width: 100%;
}
.header{
	margin-left: 26px;
	width: 208px;
	height: 28px;
	left: 26px;
	top: 316px;

	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 30px;
	display: flex;
	align-items: center;

	color: #000000;
}
.loch{
	margin-top: -10px;
	margin-left:26px ;
height: 19px;
left: 26px;
top: 358px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;

color: rgba(0, 0, 0, 0.5);
}
.loc{
	margin-top: -10px;
	margin-left: 26px;
	
height: 19px;
left: 26px;
top: 377px;

font-family: Times New Roman;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #000000;
}
.details{
	margin-left: 26px;
	width: 301px;
    height: 96px;
	left: 26px;
	top: 417px;

	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 133%;
	/* or 13px */


	color: rgba(0, 0, 0, 0.75);

}
.rm{
	margin-left: 26px;
width: 68px;
height: 26px;
left: 26px;
top: 513px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 16px;
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.5);
text-decoration: none;


}
.rm:hover{
	text-decoration: underline;
}
